body {
  color: #333;
  font-family: sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
  margin: 8px max(8px, calc((100% - 48rem) / 2));
  max-width: 48rem;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.site-title a {
  color: inherit;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.125rem;
}

code {
  background-color: #eee;
  font-family: monospace;
  padding: 0 4px;
}

pre code {
  background-color: transparent;
  padding: 0;
}

pre {
  overflow-x: auto;
  padding: 4px;
}

code,
pre {
  line-height: initial;
}
