<!DOCTYPE html>
<html lang="{{ lang }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{{ get_url(path="style.css", cachebust=true) }}">
  </head>
  <body>
    <header>
      <div class="site-title">
        <a href="{{ config.base_url | safe }}">{{ config.title }}</a>
      </div>
      {% if config.extra.menu_items %}
      <nav>
        <ul>
          {% for menu_item in config.extra.menu_items %}
          <li>
            <a href="{{ get_url(path=menu_item.path) }}">{{ menu_item.name }}</a>
          </li>
          {% endfor %}
        </ul>
      </nav>
      {% endif %}
    </header>
    <main>
      {% block content %}{% endblock content %}
    </main>
  </body>
</html>
