{% extends "base.html" %}

{% block title %}{{ section.title }}{% endblock title %}

{% block content %}
<h1>{{ section.title }}</h1>
{{ section.content | safe }}
{% if "posts/_index.md" in section.subsections %}
{% set posts_section = get_section(path="posts/_index.md") %}
<h2>最近の投稿</h2>
<ul>
  {% for page in posts_section.pages | slice(end=5) %}
  <li>
    <time>{{ page.date }}</time>
    <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
  </li>
  {% endfor %}
</ul>
<a href="{{ posts_section.permalink | safe }}">すべての投稿を表示する</a>
{% endif %}
{% endblock content %}
