{% extends "base.html" %}

{% block title %}{{ page.title }}{% endblock title %}

{% block content %}
<article>
  <header>
    <h1>{{ page.title }}</h1>
    {% if page.date %}
    <time>{{ page.date }}</time>
    {% endif %}
  </header>
  {{ page.content | safe }}
</article>
{% endblock content %}
