{% extends "base.html" %}

{% block title %}{{ section.title }}{% endblock title %}

{% block content %}
<h1>{{ section.title }}</h1>
{{ section.content | safe }}
<ul>
  {% for page in section.pages %}
  <li>
    <time>{{ page.date }}</time>
    <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
  </li>
  {% endfor %}
</ul>
{% endblock content %}
